<div class="flex constrains">
  <app-sidenav class="nav"></app-sidenav>
  <div class="content flex">
    <div class="product-container">
      <div class="searchbar flex mt-1 mb-3">
        <input
          type="text"
          class="form-control search-field"
          placeholder="search products"
        />
        <button class="btn flex justify-content-center" type="submit">
          <mat-icon>search</mat-icon>
        </button>
      </div>
      <div class="products">
        <mat-card
          class="product"
          *ngFor="let product of products; let i = index"
        >
          <img matCardImage [src]="product.img" alt="product image" />
          <mat-card-content class="product-details">
            <div>{{ product.name }}</div>
            <div class="d-flex">
              <span class="">Price: {{ product.price }}</span>

              <button
                class="add-btn"
                mat-icon-button
                color="primary"
                (click)="addToCart(i)"
              >
                <mat-icon>shopping_cart</mat-icon>
              </button>
            </div>

            <!-- <mat-card-actions>
              <button
                class="add-btn"
                mat-icon-button
                color="primary"
                (click)="addToCart(i)"
              >
                <mat-icon>shopping_cart</mat-icon>
              </button>
            </mat-card-actions> -->
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <div class="cart-container">
      <h4>Order Items</h4>

      <div class="cart-content">
        <div class="header-g">
          <div class="g-head">Name</div>
          <div class="g-head">Price</div>
          <div class="g-head">Qty</div>
        </div>
        <div class="order-items">
          <ng-container *ngFor="let item of cartList; let i = index">
            <div class="g-item">{{ item.name }}</div>
            <div class="g-item">{{ item.total_price }}</div>
            <div class="g-item d-flex qty-control-container">
              <button
                mat-icon-button
                color="primary"
                (click)="remove(i, item.id)"
              >
                <mat-icon>remove</mat-icon>
              </button>

              <input
                [value]="item.qty"
                class="qty-field text-center"
                type="number"
                min="1"
              />

              <button
                mat-icon-button
                color="primary"
                class=""
                (click)="add(i, item.id)"
              >
                <mat-icon>add</mat-icon>
              </button>

              <button mat-icon-button color="warn" class="" (click)="delete(i)">
                <mat-icon color="warn">delete</mat-icon>
              </button>
            </div>
          </ng-container>
        </div>
        <!-- <div class="order-items">
          <div class="g-head">Name</div>
          <div class="g-head">Price</div>
          <div class="g-head">Qty</div>

          <ng-container *ngFor="let item of cartList; let i = index">
            <div class="g-item">{{ item.name }}</div>
            <div class="g-item">{{ item.total_price }}</div>
            <div class="g-item d-flex qty-control-container">
              <button mat-icon-button class="" (click)="remove(i, item.id)">
                <mat-icon>remove</mat-icon>
              </button>

              <input
                [value]="item.qty"
                class="qty-field text-center"
                type="number"
                min="1"
              />

              <button mat-icon-button class="" (click)="add(i, item.id)">
                <mat-icon>add</mat-icon>
              </button>

              <button mat-icon-button color="warn" class="" (click)="delete(i)">
                <mat-icon color="warn">delete</mat-icon>
              </button>
            </div>
          </ng-container>
        </div> -->

        <div class="cart-footer">
          <div class="totals d-grid border-top border-dashed">
            <div class="">Total Qty:</div>
            <div class="text-end">
              {{ totals.total_qty > 0 ? totals.total_qty : 0 }}
            </div>
            <div>Total Amount:</div>
            <div class="text-end">
              {{ totals.total_amt > 0 ? totals.total_amt : 0 }}
            </div>
          </div>
          <div class="order-actions d-flex justify-content-end mt-2 mb-2">
            <button mat-button color="primary" class="">Cancel</button>
            <button mat-raised-button color="primary" class="">Order</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
