<!-- <mat-drawer-container class="container">
  <!-- <mat-drawer mode="side" opened class="drawer">Drawer content</mat-drawer> --

  <mat-drawer-content>fdgd</mat-drawer-content>
</mat-drawer-container> -->

<div class="navbar">
  <div class="logo flex">
    <img src="../../../assets/images/DevGeeks.png" alt="logo" class="logo" />
  </div>
  <div class="nav-items">
    <div><a routerLink="/preorder" routerLinkActive="active">Preorders</a></div>
    <div><a routerLink="/sales" routerLinkActive="active">Sales</a></div>
    <div><a routerLink="/factory" routerLinkActive="active">Factory</a></div>
    <div>
      <a routerLink="/warehouse" routerLinkActive="active">Warehouse</a>
    </div>
    <div>
      <a routerLink="/logistics" routerLinkActive="active">Logistics</a>
    </div>
    <div><a routerLink="/admin" routerLinkActive="active">Admin Report</a></div>
  </div>
</div>
