.mdc-dialog__actions {
  flex-direction: column;
}

.mdc-button {
  min-width: 95px;
  /* margin-left: 0; */
  margin-bottom: 15px;
}

.mat-mdc-dialog-actions .mat-mdc-button-base + .mat-mdc-button-base {
  margin-left: 0;
}
