/* .mat-mdc-radio-button ~ .mat-mdc-radio-button {
  margin-left: 16px;
}

.mdc-dialog__surface {
  overflow-y: hidden !important;
}
h1 {
  font-size: 20px;
}
.permit-container {
  padding: 20px;
}

.button-container {
  display: flex;
  flex-direction: column;
}

.button-container button {
  margin-bottom: 15px;
} */
