.mdc-dialog__actions {
  flex-direction: column;
}

.mdc-button.permit-btn {
  min-width: 120px;
  /* margin-left: 0; */
  margin-bottom: 15px;
}

.mat-mdc-dialog-actions .mat-mdc-button-base + .mat-mdc-button-base {
  margin-left: 0;
}

[mat-dialog-title] {
  font-weight: 600;
  font-size: 18px;
}